<div>
  <nav *ngIf="show" data-toggle="popover" title="popover title" data-content="">
    <div [ngClass]="{'active': (hero === 'dragon')}" (click)="setDragon()">Hannibal</div>
    <div [ngClass]="{'active': (hero === 'kitty')}" (click)="setKitty()">Jujube</div>
    <div [ngClass]="{'active': (hero === 'feed')}" (click)="setFeed()">Feed</div>
  </nav>
</div>
<div (press)="showNav($event)" (swiperight)="swipe($event.type)" (swipeleft)="swipe($event.type)" class="content" [ngClass]="{'expanded-img': !show}">
  <div class="main-gaby dragon-bg" *ngIf="hero === 'dragon'">
    <img (click)="toogleDragon()" *ngIf="!dragonFlip" src="./assets/dragon-1.png" alt="">
    <img (click)="toogleDragon()" *ngIf="dragonFlip" src="./assets/dragon-2.png" alt="">
  </div>
  <div class="main-gaby kitty-bg" *ngIf="hero === 'kitty'">
    <img (click)="toogleKitty()" *ngIf="!kittyFlip" src="./assets/kitty-1.png" alt="">
    <img (click)="toogleKitty()" *ngIf="kittyFlip" src="./assets/kitty-2.png" alt="">
  </div>
  <div class="main-gaby kitty-bg" *ngIf="hero === 'feed'">
    <img src="./assets/jujube-feed.jpg" alt="">
  </div>
</div>
