nav {
		float: left;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
		cursor: pointer;
}

nav > * {
    width: 50%;
    font-size: 1.3em;
		text-align: center;
    border: 1px solid white;
		padding: 1em;
		color: #ffffff;
		border-radius:2em;
		margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.active {
  background-color: snow;
  color: lightskyblue !important;
}

img{
    height: 74vh;
}

.main-gaby {
    text-align: center;
		height:114vh;
}

.kitty-bg {
	background: #6a2f93;
}

.dragon-bg {
	background: #393939;
}

.expanded-img > * > img {
    height: 90vh;
}
